@model DigitalCV.Web.Models.ViewModels.MiscellaneousInfo.MiscellaneousInfoViewModel

<nav class="navbar navbar-expand-lg navbar-light">
	<a class="navbar-brand" asp-controller="Dashboard" asp-action="Index">Digital CV</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item education nav-link" asp-controller="Admin" asp-action="Education">Ændre uddannelser</a>
			<a class="nav-item education nav-link" asp-controller="Admin" asp-action="WorkExperience">Ændre erhvervserfaring</a>
			<a class="nav-item education nav-link" asp-controller="Admin" asp-action="ComputerTechnology">Ændre IT</a>
			<a class="nav-item education active nav-link" asp-controller="Admin" asp-action="MiscellaneousInfo">Ændre andre information</a>
		</div>
	</div>
</nav>

<table class="table table-dark">
	<thead>
		<tr>
			<th scope="col">Certifikat</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var certificate in Model.Certificates)
		{
			<tr>
				<td>@certificate.CertificateName</td>
				<td><a asp-controller="AdminCRUD" asp-route-id="@certificate.Id" asp-action="CreateUpdateCertificate"><i class="highlightfont fas fa-pen"></i></a></td>
				<td><a asp-controller="AdminCRUD" asp-route-id="@certificate.Id" asp-action="DeleteCertificate"><i class="redfont fas fa-trash-alt"></i></a></td>
			</tr>
		}
	</tbody>
</table>

<a asp-controller="AdminCRUD" asp-action="CreateUpdateCertificate" class="loginbutton btn btn-primary" role="button">Tilføj et certifikat</a>
<br />

<table class="table table-dark">
	<thead>
		<tr>
			<th scope="col">Sprog</th>
			<th scope="col">Niveau af sprog</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var langauge in Model.Languages)
		{
		<tr>
			<td>@langauge.LanguageText</td>
			<td>@langauge.LevelOfLanguage</td>
			<td><a asp-controller="AdminCRUD" asp-route-id="@langauge.Id" asp-action="CreateUpdateLanguage"><i class="highlightfont fas fa-pen"></i></a></td>
			<td><a asp-controller="AdminCRUD" asp-route-id="@langauge.Id" asp-action="DeleteLanguage"><i class="redfont fas fa-trash-alt"></i></a></td>
		</tr>
		}
	</tbody>
</table>

<a asp-controller="AdminCRUD" asp-action="CreateUpdateLanguage" class="loginbutton btn btn-primary" role="button">Tilføj et sprog</a>